.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flash{
  width: 100%;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: relative;
  top: 0;

}

.invisivel{
  display: none;
}

 .button{
   margin-bottom: 0 auto;
 }
  .btn {
      border-style: none;
      font-size: 1em;
      border-radius: 3px;
      padding: 5px;
      cursor: pointer;
  }
  
  .verde {
      background-color: green; 
      border-color: green;
      color: white;  
  } 
    
  .azul { 
      background-color: dodgerblue;
      border-color: dodgerblue;
      color: white;
    }

  #campoNota{
    margin: 0 auto;
    padding: 50px 50px 50px 50px;
    
    
  }
  #mostraCampo{
    margin: 0 auto;
  }
/*#nota{
  margin-left: 100px ;
  text-align: right;
  float: right;
}
*/

