/* Box-Card*/

.card{
    margin-top: 20px;
    background: #cccccc;
    border-radius: 10px;
    
}

.card-title{
    text-align: center;
}

.card-text{
    text-align: center;
}

.btn-primary{
    
}
