/*Box*/

.box{
    margin-top: 40px;
    padding: 15px;
    border-radius: 8px;
    background: #d0d3d0;
    text-align: center;
}

.box div{
    width: 120px;
    height: 120px;
    padding: 30px 0;
    margin: 0 auto;
    border: 5px solid #fff;
    background: #d0d3d0;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);

}

