
.login{
    background-color: grey;
    width: 300px;
    height: 500px;
    padding: 30px 0;
    margin:0 auto;
    border-radius: 10%;
}

.ImgBanco{
    margin: 5px 5px 5px 5px;
    padding: 20px 20px 20px 20px;
}

.button{
    margin:5px 45px 45px 55px ;
    border-radius: 10px;
    
}

.button-grey{
    background-color: grey;
    box-shadow: 5px 5px 5px rgba(0.0,0.0,0.5);
}