/*Bandeiras*/
.container{
  max-width: 1080px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; 
  box-sizing: border-box;
}

body {
  background-color: #666;
}

div {
  width: 500px;
  height: 50px;
}

section {
  float: left;
  margin: 50px;
}

.vertical {
  width: 50px;
  height: 50px;
  float: left;
}

.grande {
  height: 150px;
}

.preto {
  background-color: black;
}

.vermelho {
  background-color: red;
}

.amarelo {
  background-color: yellow;
}

.azul {
  background-color: blue;
}

.branco {
  background-color: white;
}

.centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -40px;
}

.relativo {
  position: relative;
}

.redondo {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.col-3{
  z-index: 0;
}

.img-a{
    background: url("Arvore.jpg") no-repeat center / cover;
    padding-top: 130px;
}