/*Bandeiras*/

body {
  background-color: #666;
}

div {
  width: 200px;
  height: 50px;
}

section {
  float: left;
  margin: 50px;
}

.vertical {
  width: 75px;
  height: 150px;
  float: left;
}

.grande {
  height: 150px;
}

.preto {
  background-color: black;
}

.vermelho {
  background-color: red;
}

.amarelo {
  background-color: yellow;
}

.azul {
  background-color: blue;
}

.branco {
  background-color: white;
}

.centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -40px;
}

.relativo {
  position: relative;
}

.redondo {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

  .grid-1 {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    grid-template-rows: auto 20px auto 20px auto;
  }

  .img{
      padding: 10px 10px 10px 10px;
  }

  