.flash {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: fixed;
  top: 0;
  opacity: 0;
}

.invisivel {
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fade-in{
  animation: fadein 1s linear forwards;
}

.fade-out{
  animation: fadeout 1s linear forwards;
}

@keyframes fadein { from { opacity: 0; } to {opacity: 1; visibility: visible;} };

@keyframes fadeout { from { opacity: 1; } to {opacity: 0; visibility: hidden;} };

.btn {
  border-style: none;
  font-size: 1em;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
}

.verde {
  background-color: green;
  border-color: green;
  color: white;
}

.azul {
  background-color: dodgerblue;
  border-color: dodgerblue;
  color: white;
}

.vermelho{
  background-color: red;
  border-color: red;
  color: white;
}

.botoes {
  margin-top: 10px;
}

.botoes .btn {
  margin: 0 15px 0 15px;
}

#campos {
  list-style-type: none;
}

