/*Carrosel*/

.carousel-item{
    height: calc(100vh - 56px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-item-1{
    background-image: url("img/floripa.jpg");
    background-position: center top;
}

.carousel-item-2{
    background-image: url("img/outback-steakhouse.jpg");
    background-position: center top;
}

.carousel-item-3{
    background-image: url("img/Projeto-Tamar-3.jpg");
    background-position: center top;
}