/*Turismo*/

.main-header{
   
    box-shadow: 5px 5px 5px rgba(0.0,0.0,0.5);
}



.container{
    max-width: 1080px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto; 
    box-sizing: border-box;
}

.container h2{
    text-align: center;
}

.navbar {
    background: #ccc;
}

.main-footer{
    background: #f5f5f5;
}

.main-footer p{
    color: rgb(17, 16, 16);
    text-align: center;
}
.card{
    
    margin-top: 20px;
    background: #d1fcee;
    border-radius: 10px;
    margin-bottom: 20px;
}


.card-title{
    text-align: center;
}

.card-text{
    text-align: center;
}

.map{
   
    display: block;
    width: 100%;
    height: 600px;
    margin: 0;
    border: none;
 

}
