/*Bandeiras*/
.container{
  max-width: 1080px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; 
  box-sizing: border-box;
  box-shadow: 5px 5px 5px rgba(0.0,0.0,0.5);
}

.row .col-sm{
  padding: 30px 30px 0 0;
}
.row .col-sm-2{
  background-color: blue;
  padding: 30px 30px 0 0;
}

.row .col-lg-3{
  background-color: blue;
  padding: 95px 0px 90px 20px;
}

.row{
  background-color: white;
  

}




