/*Bandeiras*/
.container{
  max-width: 1080px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; 
  box-sizing: border-box;
  box-shadow: 5px 5px 5px rgba(0.0,0.0,0.5);
}

.row .col-sm{
  padding: 30px 30px 0 0;
}
.row .col-sm-2{
  background-color: blue;
  padding: 30px 30px 0 0;
}

.col {
  padding: 14px 184px 0px 92px;
  background-color: blue;
}

.col .ult {
  background-color: white;
  padding-left: 10px;

}

.col :nth-child(2n){
  background-color: white;
}

.row .menor{
  background-color: blue;
  padding: 20px 0 20px 20px;
  margin: 4px -184px 9px -51px;
  
}

.row .menor:nth-child(2n){
  background-color: white;
}

.row .quadro1{
  background-color: blue;
  padding: 60px 0 60px 0;
  margin: 0px 0px 0px -1px;
  
}

.row .quadro2{
  background-color: blue;
  padding: 60px 0 60px 0;
  margin: 0px 0px 0px 41px;
  
}

.row{
  background-color: white;
  padding: 20px 0px 20px 20px;
  

}




